// 0-1200px +
@media screen and (max-width: 1199px) {
    .activity {
      display: none;
    }
  }

.activity.section {
  padding-top: 0;
}

.activity-list {
    display: flex;
}

.activity-list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity-item-title-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
