:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --text-color-darck: #000000;
  --text-color-light: #ffffff;
  --section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
